<mat-toolbar>
    <div class="logo">
        <button mat-button routerLink="/home">
            Clothing Store :D
        </button>
    </div>
    <div class="clothingNavButtons">
        <button mat-button>Men</button>
        <button mat-button>Women</button>
        <button mat-button>Hats</button>
        <button mat-button>Pants</button>
        <button mat-button>Shirts</button>
        <button mat-button>Socks</button>
    </div>
    <div class="optionsButtons">
        <button mat-button>Contact Us</button>
        <button mat-button routerLink="/sign-in" *ngIf="!onAuthPage">Sign In</button>
        <button mat-button>Settings</button>
        <button mat-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon>Your Cart</button>
    </div>
</mat-toolbar>