<mat-toolbar>
    <div class="logo">
        Clothing Store :D
    </div>
    <div class="clothingNavButtons">
        <button mat-button>Men</button>
        <button mat-button>Women</button>
        <button mat-button>Hats</button>
        <button mat-button>Pants</button>
        <button mat-button>Shirts</button>
        <button mat-button>Socks</button>
    </div>
    <div class="optionsButtons">
        <button mat-button>Contact Us</button>
        <button mat-button>Sign In</button>
        <button mat-button><mat-icon>shopping_cart</mat-icon>Your Cart</button>
    </div>
</mat-toolbar>