:host ::ng-deep mat-toolbar {
    background-color: #5E6973;
}

.logo {
    color: #BDFFFD;
}

.logo,
.clothingNavButtons,
.optionsButtons {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo,
.optionsButtons {
    flex: 1;
}

.clothingNavButtons {
    flex: 2;
    /* justify-content: space-evenly; */
}

button {
    border: 1px solid #5E6973;
    background-color: transparent;
    font-size: 16px;
    height: 90%;
    color: #9FFFF5;
    outline: none;
    cursor: pointer;
}

button:hover {
    
    border-color: #9FFFF5;
}

mat-icon {
    margin-right: 10px;
}
