<mat-toolbar>
    <div class="firstRow">

    </div>
    <div class="secondRow">
        <div class="socials">
            <a>
                <img src="../../../assets/images/facebook-f-brands.svg" alt="https://fontawesome.com/icons/facebook-f?style=brands">
            </a>
            <a>
                <img src="../../../assets/images/instagram-brands.svg" alt="https://fontawesome.com/icons/instagram?style=brands">
            </a>
            <a>
                <img src="../../../assets/images/linkedin-in-brands.svg" alt="https://fontawesome.com/icons/linkedin-in?style=brands">
            </a>
            <a>
                <img src="../../../assets/images/twitter-brands.svg" alt="https://fontawesome.com/icons/twitter?style=brands">
            </a>
        </div>
        <hr>
        <div class="copyright">
            <p>© Copyright. All rights reserved.</p>
        </div>
    </div>
</mat-toolbar>
