<div class="title">
    <p>Cart Pricing</p>
</div>
<div class="subTotalAndCheckout">
    <div class="subtotal" *ngIf ="isCartRoute">
        <p>Subtotal ({{ currentNumCartItems }} items):</p>
        <span class="cost">${{ currentSubtotal | number:'1.2-2' }}</span>
    </div>
    <div class="checkoutDetails" *ngIf="isCheckoutRoute">
        <div class="row1">
            <p>Items:</p>
            <p>${{ currentSubtotal | number:'1.2-2' }}</p>
        </div>
        <div class="row2">
            <p>Shipping and handling:</p>
            <p>${{ shippingAndHandlingFee | number:'1.2-2' }}</p>
        </div>
        <div class="row3">
            <p>Total before tax:</p>
            <p>$ {{ currentSubtotal + shippingAndHandlingFee | number:'1.2-2' }}</p>
        </div>
        <div class="row4">
            <p>Estimated tax to be collected:</p>
            <p>${{ tax | number:'1.2-2' }}</p>
        </div>
        <div class="row5">
            <p>Order total:</p>
            <p>${{ currentSubtotal + shippingAndHandlingFee + tax | number:'1.2-2' }}</p>
        </div>
    </div>
    <hr>
    <button [disabled]= "noItemsInCart" mat-raised-button (click)="navigation(toCheckoutOrPlaceOrder)">{{ toCheckoutOrPlaceOrder }}</button>
</div>