<mat-toolbar>
    <div class="logo">
        <button mat-button routerLink="/home">
            <p class="logoName">
                Overhead
            </p>
        </button>
    </div>
    <div class="clothingNavButtons">
        <button mat-button routerLink="/categories/men" routerLinkActive="activeRoute">Men</button>
        <button mat-button routerLink="/categories/women" routerLinkActive="activeRoute">Women</button>
        <button mat-button routerLink="/categories/hats" routerLinkActive="activeRoute">Hats</button>
        <button mat-button routerLink="/categories/pants" routerLinkActive="activeRoute">Pants</button>
        <button mat-button routerLink="/categories/shirts" routerLinkActive="activeRoute">Shirts</button>
        <button mat-button routerLink="/categories/socks" routerLinkActive="activeRoute">Socks</button>
    </div>
    <div class="optionsButtons">
        <button mat-button routerLink="/contact-page" routerLinkActive="activeRoute">Contact Us</button>
        <button mat-button routerLink="/sign-in" routerLinkActive="activeRoute" *ngIf="!onAuthPage && !isAuthorized">Sign In</button>
        <button *ngIf="isAuthorized" mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            Account<mat-icon class="accountDownArrow">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="matMenu">
            <button mat-menu-item (click)="toAccountDashboard('settings')">
                <mat-icon>settings</mat-icon>
                <span>Your Settings</span>
            </button>
            <button mat-menu-item (click)="toAccountDashboard('transaction_history')">
                <mat-icon>assignment</mat-icon>
                <span>Transaction History</span>
            </button>
            <button mat-menu-item (click)="toAccountDashboard('track_orders')">
                <mat-icon>location_on</mat-icon>
                <span>Track Your Orders</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>input</mat-icon>
                <span>Log out</span>
            </button>
        </mat-menu>
        <button mat-button routerLink="/cart" [class.activeRoute]="shoppingCartOrCheckout">
            <mat-icon>shopping_cart</mat-icon>
            Your Cart
        </button>
    </div>
</mat-toolbar>