<mat-toolbar>
    <div class="logo">
        <button mat-button routerLink="/home">
            Clothing Store :D
        </button>
    </div>
    <div class="clothingNavButtons">
        <button mat-button routerLink="/categories/men">Men</button>
        <button mat-button routerLink="/categories/women">Women</button>
        <button mat-button routerLink="/categories/hats">Hats</button>
        <button mat-button routerLink="/categories/pants">Pants</button>
        <button mat-button routerLink="/categories/shirts">Shirts</button>
        <button mat-button routerLinks="/categories/socks">Socks</button>
    </div>
    <div class="optionsButtons">
        <button mat-button>Contact Us</button>
        <button mat-button routerLink="/sign-in" *ngIf="!onAuthPage">Sign In</button>
        <button mat-button>Settings</button>
        <button mat-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon>Your Cart</button>
    </div>
</mat-toolbar>