:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
}

.test {
    padding-left: 10px;
}

.heading {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.heading h1 {
    border-bottom: 2px solid black;
}

.heading .mat-icon {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.heading .mat-icon:first-child {
    margin-right: 20px;
}

.heading .mat-icon:last-child {
    margin-left: 20px;
}

.mat-icon {
    vertical-align: middle;
}

.paymentInformation {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
}

.paymentInformation section {
    padding: 10px 0;
}

.cardNumber,
.nameOnCard {
    display: flex; 
    flex-direction: column;
}

.cscAndExpirationDate > *:last-child {
    width: 50%;
    padding-left: 20px;
}

.cscAndExpirationDate > *:first-child {
    width: 50%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: whitesmoke;
    border-radius: 5px;
}