<div class="paymentInformation">
    <div class="heading">
        <mat-icon>payment</mat-icon>
        <h1 class="title">Payment Information</h1>
        <mat-icon>payment</mat-icon>
    </div>
    <section class="paymentSection">
        <h3>5. Credit Card / Debit Card / Gift Card</h3>
        <div class="cardNumber">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>credit_card</mat-icon>
                <mat-label class="test">Credit Card Number</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
        <div class="nameOnCard">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>person</mat-icon>
                <mat-label class="test">Name On Card</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
        <div class="cscAndExpirationDate">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>date_range</mat-icon>
                <mat-label class="test">Expiration Date (MM/DD/YYYY)</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>fiber_pin</mat-icon>
                <mat-label class="test">Card Security Code (CSC)</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
    </section>
</div>