<div class="cartItem" *ngFor="let cartItem of cartItems">
    <div class="left">
        <mat-checkbox [color] = "color"class="example-margin"></mat-checkbox>
        <img src="{{ cartItem.imageUrl }}" alt="">
        <div class="itemDetails">
            <div class="itemDescription">
                <p class="title">{{ cartItem.title }}</p>
                <p class="subtitle">{{ cartItem.subtitle }}</p>
                <p>Size: {{ cartItem.size }} </p>
                <p class="color">Color: {{ cartItem.color }} </p>
            </div>
            <div class="actionButtons">
                <mat-form-field appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let quantity of quantities" [value]="quantity">
                        {{ quantity }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="priceInfo">
            <p class="priceHeading">Price</p>
            <p>{{ cartItem.price }}</p>
        </div>
        <div class="removeItem">
            <button 
            mat-raised-button 
            (click)="removeItemFromCart(cartItem.itemId)">
            Remove
        </button>
        </div>
    </div>
</div>