<div class="cartItem" *ngFor="let cartItem of cartItems">
    <div class="left">
        <mat-checkbox (change)="itemSelectedInCart($event, cartItem.itemId)" [checked]="cartItem.isChecked" [color]="color" class="example-margin"></mat-checkbox>
        <img src="{{ cartItem.imageUrl }}" alt="">
        <div class="itemDetails">
            <div class="itemDescription">
                <p class="title">{{ cartItem.title }}</p>
                <p class="subtitle">{{ cartItem.subtitle }}</p>
                <p>Size: {{ cartItem.size | titlecase }} </p>
                <p class="color">Color: {{ cartItem.color | titlecase }} </p>
            </div>
            <div class="actionButtons">
                <mat-form-field appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <mat-select [(value)]="cartItem.quantity" (selectionChange)="quantityChange($event, cartItem.itemId, cartItem.price)">
                        <mat-option *ngFor="let quantity of quantities" [value]="quantity">
                        {{ quantity }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="priceInfo">
            <p class="priceHeading">Price</p>
            <p class="priceDetails">{{ cartItem.quantity }} x ${{ cartItem.price }}</p>
        </div>
        <div class="removeItem">
            <button 
            mat-raised-button 
            (click)="removeItemFromCart(cartItem.itemId, cartItem.price, cartItem.quantity)">
            Remove
        </button>
        </div>
    </div>
</div>
<!-- put here ngIf = emptyCart and display some text like uh oh and routing to front page -->
<div class="emptyCartDisplayMessage" *ngIf="cartItems.length === 0">
    <p>Uh oh, you have no items in your cart.</p>
    <p>Go to the <span class="homePage" routerLink="/home">home page</span> and find something you like!</p>
</div>