.container {
    background-image: linear-gradient( 135deg, #7CFFC4 10%, #6ABEA7);
    height: auto;
    width: 100%;
    position: absolute;
    top: 64px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    display: flex;
    width: 90%;
    height: 85%;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: inset 2000px 2000px 2000px rgb(231 231 231 / 50%);
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
}

.listOfItems {
    width: 70%;
    overflow-y: auto;
}

.cartPricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    /* justify-content: center; */
}

.title {
    height: 20%;
    display: flex;
    align-items: center;
}

.subTotalAndCheckout {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 90%;
    border: 1px solid black;
    align-items: center;
    background-color: whitesmoke;
}

.subTotalAndCheckout button {
    /* background-color: #0B132B; */
    background: rgb(72,69,136);
    background: linear-gradient(180deg, rgba(72,69,136,1) 0%, rgba(11,19,43,1) 100%);
}

:host ::ng-deep .subTotalAndCheckout button .mat-button-wrapper {
    color: #9ffff5;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    width: 90%;
}

.cost {
    font-weight: bold;
}

.subtotal {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

