<h1 mat-dialog-title>Added to shopping cart!</h1>
<div mat-dialog-content>
    <div class="left">
        <h4>Details:</h4>
        <ul>
            <li>{{ data.title }}</li>
            <li>{{ data.subtitle }}</li>
            <li>Price: ${{ data.price }}</li>
            <li>Size: {{ data.size }}</li>
            <li>Color: {{ data.color }}</li>
            <li>Quantity: {{ data.quantity }}</li>
        </ul>
    </div>
    <div class="right">
        <img src="{{ data.imageUrl }}" alt="">
    </div>
</div>
<hr>
<div mat-dialog-actions>
    <button mat-raised-button (click)="closeModal()">Continue Shopping</button>
    <button mat-raised-button (click)="toShoppingCart()">To Shopping Cart</button>
</div>