<div class="cards">
    <div class="wrapper">
        <div class="card" *ngFor="let item of clothingDB; let i = index">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{ item.title }}</mat-card-title>
                    <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ item.image }}" alt="Photo of a Shiba Inu">
                <mat-card-content></mat-card-content>
                <mat-card-actions>
                    <mat-form-field appearance="fill">
                        <mat-label>Size</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let size of item.sizes" [value]="size">
                            {{ size }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let color of item.colors" [value]="color">
                            {{ color }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="addToCartAndPrice">
                        <button mat-button>ADD TO CART</button>
                        <span class="price">${{ item.price }}</span>
                    </div>
                    <div class="categories">
                        <button mat-button *ngFor="let category of item.categories" [value] = "category">
                            {{ category }}
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>