:host {
    background-image: linear-gradient( 135deg, #7CFFC4 10%, #6ABEA7 100%);
    display: block;
    height: auto;
    min-height: calc(100% - 192px);
    /* Purpose of min-height is to allow footer to set on the exact bottom
       of page when no item visible. 
       -192px comes from 64 pixels for header and 128px for footer. -192px from 100%
       allows footer to rest exactly on bottom of page with no unnecessary scrolling.
       Another way to conduct this min-height:
            min-height: 76.6%; 
    */
}

.wrapper {
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.wrapper > .card {
    padding: 1em;
    max-width: 350px;
}

/* the css for the cards from angular material */
.example-card {
    max-width: 400px;
    height: 100%;
    border: 5px groove #5BC0BE;
    border-radius: 5px;
}

.example-card img {
    padding: 0 10px;
    max-height: 250px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

:host ::ng-deep mat-card-actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
}

:host ::ng-deep mat-card-actions > * {
    padding: 0 5px;
}

:host ::ng-deep mat-card-actions > *:nth-child(3) {
    padding-bottom: 10px;
}

:host ::ng-deep mat-card-actions > *:nth-child(4) {
    padding-top: 10px;
    padding-bottom: 10px;
}

:host ::ng-deep .addToCartAndPrice .mat-button,
:host ::ng-deep .categories button {
    border: 1px solid black;
}

.price {
    padding: 0 16px;
}

.addToCartAndPrice {
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.categories {
    display: flex;
    align-items: center;
    align-self: flex-end;
    flex-grow: 1;
}

.categories > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px !important;
    background-color: rgb(94 106 115);
}

:host ::ng-deep .categories button .mat-button-wrapper {
    color: #9ffff5;
}