<app-header></app-header>
<div class="container">
    <div class="dashboard">
        <div class="orderHeading">
            <h1>Order Has Been Succesfully Placed!</h1>
            <mat-icon>check_circle_outline</mat-icon>
        </div>
        <p class="emailText">An email confirming your order has been sent to ... @gmail.com.</p>
        <section>
            <div class="left">
                <h3>Order Details:</h3>
                <br><br>
                <div class="orderNumber">
                    <p>Order number:</p>
                    <p>12345678910</p>
                </div>
                <br><br>
                <div class="delivery">
                    <p>Delivery to:</p>
                    <p>12345 Apple Street<br>Madeup, Maryland 20876</p>
                </div>
                <br><br>
                <div class="billingAddress">
                    <p>Billing Address:</p>
                    <p>12345 Apple Street<br>Madeup, Maryland 20876</p>
                </div>
                <br><br>
                <div class="subtotal">
                    <p>Subtotal:</p>
                    <p>$123.45</p>
                </div>
                <div class="tax">
                    <p>Tax:</p>
                    <p>$124123</p>
                </div>
                <div class="total">
                    <p>Total:</p>
                    <p>$12346</p>
                </div>
                <br><br>
                <hr>
            </div>
            <div class="right">
                <p class="logoSymbol">OH</p>
            </div>
        </section>
        
    </div>
</div>
<app-footer></app-footer>
