:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
}

.test {
    padding-left: 10px;
}

:host ::ng-deep .test ng-tns-c70-6 ng-star-inserted {
    padding-left: 0px !important;
}

.heading {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.heading h1 {
    border-bottom: 2px solid black;
}

.heading .mat-icon {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.heading .mat-icon:first-child {
    margin-right: 20px;
}

.heading .mat-icon:last-child {
    margin-left: 20px;
}

.mat-icon {
    vertical-align: middle;
}

.shippingInformation {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
}

.shippingInformation section {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.customerName > *:last-child {
    padding-left: 20px;
}

.customerName > * {
    width: 50%;
}

.title {
    text-align: center;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: whitesmoke;
    border-radius: 5px;
}

.street {
    display: flex;
    flex-direction: column;
}

.cityStateZip > *:not(:first-child) {
    padding-left: 20px;
}

.cityStateZip > * {
    width: 33.3%;
}

/* padding for the mat input labels after user enters text  */
:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    padding-top: 10px;
}