.cards {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
}

.card {
    border: 1px solid black;
    width: 25%;
    height: 300px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}