:host {
    /* background-color: #9FFFF5; */
    /* background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%); */
    background-image: linear-gradient( 135deg, #7CFFC4 10%, #6ABEA7 100%);
    display: block;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 1px solid black;
    width: 25%;
    background-color: white;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-top: 7vh;
}

.cards:last-child {
    padding-bottom: 7vh;
}

/* the css for the cards from angular material */
.example-card {
    max-width: 400px;
    height: 100%;
}

.example-card img {
    padding: 0 10px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

:host ::ng-deep mat-card-actions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

:host ::ng-deep mat-card-actions > * {
    padding: 10px;
}

:host ::ng-deep mat-card {
    display: flex;
    flex-direction: column;
}

:host ::ng-deep .addToCartAndPrice .mat-button {
    border: 1px solid black;
}

.price {
    padding: 0 16px;
}

.addToCartAndPrice {
    display: flex;
    justify-content: center;   
    align-items: center;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    flex-grow: 1;
}

.categories > * {
    margin: 0 5px;
    padding: 5px;
}