:host {
    /* background-color: #9FFFF5; */
    /* background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%); */
    background-image: linear-gradient( 135deg, #7CFFC4 10%, #6ABEA7 100%);
    display: block;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 1px solid black;
    width: 25%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-top: 7vh;
}

.cards:last-child {
    padding-bottom: 7vh;
}