<app-header></app-header>
<div class="cards" *ngFor="let card of cards; let i = index">
    <div *ngIf="i % 3 === 0" class="row">
        <!-- The first card in each row -->
        <span class="card">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Shirt</mat-card-title>
                    <mat-card-subtitle>Astronaut Design</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ images[i] }}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Cars</mat-label>
                        <select matNativeControl>
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option>
                        </select>
                    </mat-form-field> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Size</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let size of sizes" [value]="size">
                            {{ size }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    <button mat-button>ADD TO CART</button>
                    $19.99
                </mat-card-actions>
            </mat-card>
        </span>
        <!-- The second card in each row -->
        <span class="card" *ngIf="i + 1 < cards.length">
            <mat-card class="example-card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ images[i+1] }}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </span> 
        <!-- The third card in each row -->
        <span class="card" *ngIf="i + 2 < cards.length">
            <mat-card class="example-card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ images[i+2] }}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </span> 
    </div>
</div>

