<app-header></app-header>
<div class="cards" *ngFor="let card of cards; let i = index">
    <div *ngIf="i % 3 === 0" class="row">
        <!-- The first card in each row -->
        <span class="card">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Shirt</mat-card-title>
                    <mat-card-subtitle>Astronaut Design</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ images[i] }}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    filler here
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <mat-form-field appearance="fill">
                        <mat-label>Size</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let size of card.sizes" [value]="size">
                            {{ size }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let color of card.colors" [value]="color">
                            {{ color }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="addToCartAndPrice">
                        <button mat-button>ADD TO CART</button>
                        <span class="price">$19.99</span>
                    </div>
                    <div class="categories">
                        <button>Men</button>
                        <button>Shirts</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </span>
        <!-- The second card in each row -->
        <span class="card" *ngIf="i + 1 < cards.length">
            <mat-card class="example-card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ images[i+1] }}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    filler
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </span> 
        <!-- The third card in each row -->
        <span class="card" *ngIf="i + 2 < cards.length">
            <mat-card class="example-card">
                <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{ images[i+2] }}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    filler
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </span> 
    </div>
</div>

