<div class="shippingInformation">
    <div class="heading">
        <mat-icon>local_shipping</mat-icon>
        <h1 class="title">Shipping Information</h1>
        <mat-icon>home</mat-icon>
    </div>
    <!-- <div class="arrow">
        <img src="../../../../assets/images/arrow (2).svg" alt="">
    </div> -->
    <section>
        <h3>1. Customer Name</h3>
        <div class="customerName">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>person</mat-icon>
                <mat-label class="test">First Name</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>person</mat-icon>
                <mat-label class="test">Last Name</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
    </section>
    <section class="emailSection">
        <h3>2. Email Address</h3>
        <mat-form-field class="" appearance="outline">
            <mat-icon matPrefix>email</mat-icon>
            <mat-label class="test">Email Address</mat-label>
            <input class="test" matInput>
        </mat-form-field>
    </section>
    <section class="shippingAddressSection">
        <h3>3. Shipping Address</h3>
        <div class="street">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>place</mat-icon>
                <mat-label class="test">Street Address</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>place</mat-icon>
                <mat-label class="test">Street Address 2</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
        <div class="cityStateZip">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>location_city</mat-icon>
                <mat-label class="test">City</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>map</mat-icon>
                <mat-label class="test">State</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>my_location</mat-icon>
                <mat-label class="test">Zip Code</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
    </section>
    <section class="billingAddressSection">
        <h3>4. Billing Address</h3>
        <div class="street">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>place</mat-icon>
                <mat-label class="test">Street Address</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>place</mat-icon>
                <mat-label class="test">Street Address 2</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
        <div class="cityStateZip">
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>location_city</mat-icon>
                <mat-label class="test">City</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>map</mat-icon>
                <mat-label class="test">State</mat-label>
                <input class="test" matInput>
            </mat-form-field>
            <mat-form-field class="" appearance="outline">
                <mat-icon matPrefix>my_location</mat-icon>
                <mat-label class="test">Zip Code</mat-label>
                <input class="test" matInput>
            </mat-form-field>
        </div>
    </section>
</div>

<p>Customer Name</p>
<p>Your Shipping Address</p>
<p>Email</p>
<h1>Payment Information</h1>

